<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        .details .left .head i {
            transform: scale(1.5);
        }

        .myAccDiffSet {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 15px !important;
            font-weight: 400 !important;
        }

        #myacc-logout:hover {
            cursor: pointer;
            color: rgb(64, 64, 255);
        }

        #myacc-order:hover {
            cursor: pointer;
        }

        .text-color-gray {
            color: rgb(196, 194, 194);
        }

        #changePP:hover {
            font-weight: bold;
        }

        .show-err {
            color: red;
            font-size: 15px !important;
            font-weight: 500 !important;
        }

        .form-control {
            -webkit-transition: none;
            transition: none;
            width: 40px;
            height: 32px;
            text-align: center
        }

        .form-control:focus {
            color: #3F4254;
            background-color: #ffffff;
            border-color: #884377;
            outline: 0;
        }

        .form-control.form-control-solid {
            background-color: #F3F6F9;
            border-color: #F3F6F9;
            color: #3F4254;
            transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        }

        .form-control.form-control-solid:active,
        .form-control.form-control-solid.active,
        .form-control.form-control-solid:focus,
        .form-control.form-control-solid.focus {
            background-color: #EBEDF3;
            border-color: #EBEDF3;
            color: #3F4254;
            transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
        }

        .showMSG-p {
            display: none;
            margin-left: 25px;
            margin-bottom: 0px !important;
            color: #4ab74a;
            font-weight: 400 !important;
        }

        #editClear:hover {
            font-weight: bold;
        }

        @media screen and (max-width: 1214px) {
            .myAcc {
                margin: 35px 20px !important;
            }
        }

        @media screen and (max-width: 1110px) {

            #myacc-order,
            #myacc-accSet,
            #myacc-myStuff {
                font-size: 15px !important;
            }
        }

        @media screen and (max-width: 1040px) {
            #changeImg #newImgForm {
                margin-top: 10px;
            }
        }

        @media screen and (max-width: 987px) {

            #per-info-save-btn,
            #email-var-btn,
            #phone-otp-btn {
                margin-top: 10px;
            }
        }

        @media screen and (max-width: 944px) {

            .add-area-street,
            .edit-add-area-street {
                width: -webkit-fill-available !important;
            }

            #add-phone,
            #add-locality,
            #add-state,
            #add-altphone,
            #edit-add-phone,
            #edit-add-locality,
            #edit-add-state,
            #edit-add-altphone {
                margin-top: 10px !important;
            }
        }

        @media screen and (max-width: 930px) {
            .myAcc .left {
                height: 39rem !important;
            }

            #myAccProfPicAndNameAndEdit {
                height: 9rem !important;
            }

            #myAccProfPicAndName {
                display: flex;
                flex-direction: column !important;
                gap: 10px;
            }

            .myAccDiffSet {
                font-size: 12px !important;
            }
        }

        @media screen and (max-width: 830px) {
            #myacc-logout {
                display: none;
            }

            .myAccLeftHeadAndInfo {
                margin-left: 0px !important;
                margin-top: 5px;
            }

            .myAcc .left .head {
                display: grid;
                justify-items: center;
                gap: 2px;
            }

            #myAcc-myOrdMainDiv {
                height: 4rem !important;
            }

            .myAcc .left {
                height: 40rem !important;
            }
        }

        @media screen and (max-width: 806px) {
            #perInfo #lname {
                margin-top: 10px;
                margin-left: 0px !important;
            }
        }

        @media screen and (max-width: 730px) {
            .myAcc .left {
                height: 47rem !important;
            }
        }

        @media screen and (max-width: 650px) {
            #changeImg #newImgForm #newImgBtn {
                margin-top: 10px;
            }
        }

        @media screen and (max-width: 600px) {
            #details .right {
                margin-left: 0px !important;
                width: -webkit-fill-available;
            }

            #manageAdd input {
                width: -webkit-fill-available;
                font-size: 15px !important;
            }

            #manageAdd select {
                width: -webkit-fill-available !important;
                font-size: 15px !important;
            }

            .add-area-street,
            .edit-add-area-street {
                font-size: 15px !important;
            }

            #add-type,
            #edit-add-type {
                width: 37% !important;
            }
        }

        @media screen and (max-width: 440px) {
            #myAcc-hori-left {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
            }

            #myAcc-hori-left-profImg {
                grid-area: 1 / 1 / 2 / 2;
            }

            #myAcc-hori-left-myOrds {
                grid-area: 1 / 2 / 2 / 3;
            }

            #acc-settings {
                grid-area: 3 / 1 / 4 / 2;
            }

            #my-stuff {
                grid-area: 2 / 1 / 3 / 2;
            }

            #myAcc-hori-left-logout {
                grid-area: 2 / 2 / 3 / 3;
            }

            #myAcc-hori-left .my-stuff-dropdown,
            #myAcc-hori-left .acc-settings-dropdown {
                left: 0% !important;
            }
        }

        @media screen and (max-width: 400px) {
            .myAcc {
                margin-left: 0px !important;
                margin-right: 0px !important;
            }

            .myAcc .right {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }

        /* ============================================================================ */

        #myAcc-hori-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #333;
            color: #fff;
        }

        #myAcc-hori-left a {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
            font-size: 15px !important;
        }

        #myAcc-hori-left .dropdown {
            position: relative;
            display: inline-block;
        }

        #myAcc-hori-left .dropbtn {
            background-color: #333;
            color: #fff;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        #myAcc-hori-left .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        #myAcc-hori-left .acc-settings-dropdown {
            left: -10%;
        }

        #myAcc-hori-left .my-stuff-dropdown {
            left: -50%;
        }

        #myAcc-hori-left .dropdown-content a {
            color: #000;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        #myAcc-hori-left .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        #myAcc-hori-left .dropdown:hover .dropdown-content {
            display: block;
        }

        #myAcc-hori-left .dropdown:hover .dropbtn {
            background-color: #f1f1f1;
            color: #000;
        }
    </style>
</head>

<% if(user){ %>
    <input type="hidden" name="user" id="user" value="<%= JSON.stringify(user) %>">
    <% } %>

        <section>
            <div class="myAcc m-5 p-2 bg-gray-100 border rounded">
                <h1>My Account</h1>

                <div id="myAccHoriNavMainDiv"></div>

                <div class="details grid grid-cols-4" id="details">

                    <div id="myAccVertiNavMainDiv" class="left col-span-1 grid" style="height: 35rem;"></div>

                    <script>
                        function userImgNotFoundForMyAcc(img) {
                            let gender = document.getElementById('profImage').name;

                            gender && gender == 'male' ?
                                img.src = '/img/male.jpg' : img.src = '/img/female.jpg';
                            img.alt = 'Defualt';
                        }
                    </script>

                    <div class="right col-span-3 ml-5 bg-white inline-block rounded p-4">
                        <div id="changeImg" class="change-img">
                            <img id="changeIMG" class="inline-block w-72 h-72" onerror="userImgNotFoundForMyAcc(this)">

                            <form id="newImgForm" action="/changeMyAcc" enctype="multipart/form-data" method="POST"
                                class="inline-block">
                                <input type="hidden" name="userID" id="img-userID">
                                <input type="file" accept="image/jpg, image/jpeg, image/png" name="image" id="newImg"
                                    class="border w-60 h-12 focus:outline-none bg-gray-100 rounded p-2">
                                <button id="newImgBtn"
                                    class="bg-green-400 w-28 h-12 rounded-full ml-5 focus:outline-none">Update</button>
                            </form>
                        </div>
                        <!-- ================================================================== -->
                        <div id="perInfo" class="per-info">
                            <div>
                                <span class="font-medium">Personal Information</span>
                                <a href="#" class="myAccDiffSet">
                                    <span id="per-info-a-span" class="text-blue-500 ml-5 text-sm font-bold">Edit</span>
                                </a>

                                <div class="mt-4">
                                    <input type="text" name="fname" id="fname" disabled
                                        class="cursor-not-allowed text-color-gray border w-60 h-12 focus:outline-none bg-gray-100 rounded">
                                    <input type="text" name="lname" id="lname" disabled
                                        class="cursor-not-allowed text-color-gray border w-60 h-12 focus:outline-none bg-gray-100 rounded ml-2">
                                    <button id="per-info-save-btn"
                                        class="bg-green-400 w-28 h-12 rounded-full ml-5 focus:outline-none">Save</button>
                                </div>
                            </div>

                            <div class="mt-4">
                                <span class="text-base">Your Gender</span>
                                <br>
                                <div class="mt-3 ml-3">
                                    <div class="form-check form-check-inline">
                                        <input disabled checked
                                            class="cursor-not-allowed text-color-gray form-check-input" type="radio"
                                            name="gender" id="inlineRadio1" value="Male">
                                        <label class="form-check-label" for="inlineRadio1">👦 Male</label>
                                    </div>
                                    <div class="form-check form-check-inline ml-4">
                                        <input disabled class="cursor-not-allowed text-color-gray form-check-input"
                                            type="radio" name="gender" id="inlineRadio2" value="Female">
                                        <label class="form-check-label" for="inlineRadio2">👧 Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5">
                                <span class="font-medium">Email Address</span>
                                <a href="#" class="myAccDiffSet">
                                    <span id="email-span" class="text-blue-500 ml-5 text-sm font-bold">Edit</span>
                                </a>
                                <a href="#" class="myAccDiffSet">
                                    <span id="pass-span" class="text-blue-500 ml-5 text-sm font-bold">
                                        Change Password
                                    </span>
                                </a>

                                <div class="mt-4">
                                    <input disabled type="email" name="email" id="email"
                                        class="cursor-not-allowed text-color-gray border w-60 h-12 focus:outline-none bg-gray-100 rounded">
                                    <button id="email-var-btn"
                                        class="text-sm bg-green-400 w-28 h-12 rounded-full ml-5 focus:outline-none">
                                        Get Varification Code
                                    </button>
                                </div>
                                <div class="mt-3" id="email-var-div">
                                    <p class="mb-0">Enter varification code:</p>
                                    <input type="tel" maxlength="6" name="varCode" id="varCode"
                                        class="border w-40 h-8 focus:outline-none bg-gray-100 rounded">
                                    <button id="email-pass-save-btn"
                                        class="bg-green-400 w-28 h-8 rounded-full ml-5 focus:outline-none">Update</button>
                                </div>
                            </div>

                            <div class="mt-5">
                                <span class="font-medium">Mobile Number</span>
                                <a href="#" class="myAccDiffSet">
                                    <span id="phone-span" class="text-blue-500 ml-5 text-sm font-bold">Edit</span>
                                </a>

                                <div class="mt-4">
                                    <input disabled type="tel" name="phone" id="phone"
                                        class="cursor-not-allowed text-color-gray border w-60 h-12 focus:outline-none bg-gray-100 rounded">
                                    <button id="phone-otp-btn"
                                        class="bg-green-400 w-28 h-12 rounded-full ml-5 focus:outline-none">
                                        Send OTP
                                    </button>
                                    <br>

                                    <div id="a-div-sms" class="hidden"></div>

                                    <div class="mb-6 text-center" id="phoneOtp">
                                        <div id="otp" class="flex justify-center">
                                            <input type="tel" id="first"
                                                class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
                                                maxlength="1" />
                                            <input type="tel" id="second"
                                                class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
                                                maxlength="1" />
                                            <input type="tel" id="third"
                                                class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
                                                maxlength="1" />
                                            <input type="tel" id="fourth"
                                                class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
                                                maxlength="1" />
                                            <input type="tel" id="fifth"
                                                class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
                                                maxlength="1" />
                                            <input type="tel" id="sixth"
                                                class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
                                                maxlength="1" />
                                        </div>
                                    </div>
                                    <button id="phone-save-btn"
                                        class="bg-green-400 w-40 h-12 rounded-full ml-5 focus:outline-none">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- ================================================================== -->
                        <div id="manageAdd" class="manageAdd">
                            <div>
                                <span class="font-bold">Manage Address</span>
                                <div id="addNewAddressBtnDiv" class="border p-2 mt-4">
                                    <a id="addNewAddressBtn" class="text-blue-500 cursor-pointer"
                                        style="font-weight: 400 !important;">
                                        + Add a new address
                                    </a>
                                </div>
                                <div id="addNewAddressBox" class="border p-2 mt-4 bg-green-100">
                                    <span class="text-sm font-bold">ADD A NEW ADDRESS</span>
                                    <span id="requiredMSGSpan" class="text-sm ml-4 text-red-500"></span>
                                    <div class="mt-3">
                                        <input type="text" name="add-name" id="add-name"
                                            class="border w-72 h-10 focus:outline-none rounded p-1" placeholder="Name">
                                        <input type="tel" name="add-phone" id="add-phone"
                                            class="border w-72 h-10 focus:outline-none rounded p-1"
                                            placeholder="10 digit Mobile Number" maxlength="10">
                                    </div>
                                    <div class="mt-3">
                                        <input type="tel" name="add-pin" id="add-pin"
                                            class="border w-72 h-10 focus:outline-none rounded p-1"
                                            placeholder="Pincode" maxlength="6">
                                        <input type="text" name="add-locality" id="add-locality"
                                            class="border w-72 h-10 focus:outline-none rounded p-1"
                                            placeholder="Locality">
                                    </div>
                                    <div class="mt-3">
                                        <textarea name="add-area&street" id="add-area&street"
                                            class="add-area-street border focus:outline-none rounded p-1" cols="63"
                                            rows="3" placeholder="Address (Area and Street)"></textarea>
                                    </div>
                                    <div class="mt-2">
                                        <input type="text" name="add-city" id="add-city"
                                            class="border w-72 h-10 focus:outline-none rounded p-1"
                                            placeholder="City/District/Town">
                                        <select name="add-state" id="add-state"
                                            class="border w-72 h-10 focus:outline-none rounded p-1">
                                            <option value="null">-Select State-</option>
                                        </select>
                                    </div>
                                    <div class="mt-3">
                                        <input type="text" name="add-landmark" id="add-landmark"
                                            class="border w-72 h-10 focus:outline-none rounded p-1"
                                            placeholder="Landmark (optional)">
                                        <input type="tel" name="add-altphone" id="add-altphone"
                                            class="border w-72 h-10 focus:outline-none rounded p-1"
                                            placeholder="Alternate Phone (optional)" maxlength="10">
                                    </div>
                                    <div class="mt-3">
                                        <span class="text-sm">Address type</span>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input checked class="form-check-input" type="radio" name="add-type"
                                                id="add-type" value="Home">
                                            <label class="form-check-label" for="home">Home</label>
                                        </div>
                                        <div class="form-check form-check-inline ml-4">
                                            <input class="form-check-input" type="radio" name="add-type" id="add-type"
                                                value="Work">
                                            <label class="form-check-label" for="work">Work</label>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button id="add-save-btn"
                                            class="bg-green-400 w-56 h-12 rounded ml-5 focus:outline-none">
                                            Save
                                        </button>
                                        <button id="add-cancel-btn" class=" ml-5 focus:outline-none">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                                <div id="editAddDiv"></div>
                                <div id="allAddDiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://smtpjs.com/v3/smtp.js"></script>

        <script>
            let allIdArr = ['changeImg', 'perInfo', 'manageAdd'];
            let leftMenusArr = ['changePP', 'changePI', 'changeAdd']

            function hideRight() {
                for (let i = 0; i < allIdArr.length; i++) {
                    window[`${allIdArr[i]}`] = document.getElementById(allIdArr[i]);
                    eval(`${allIdArr[i]}.style.display = 'none'`);
                }
            }
            hideRight()

            function myAccShowDiv(div) {
                if (document.getElementById(div).style.display == 'none') {
                    document.getElementById(div).style.display = 'block';
                } else {
                    document.getElementById(div).style.display = 'none';
                }
            }

            const showHideMyAccFeats = () => {
                leftMenusArr.map((elem, i) => {
                    window[`${elem}`] = document.getElementById(elem);

                    if (window[`${elem}`]) {
                        eval(`${elem}.addEventListener("click", () => {
                            hideRight()
                            allIdArr.map((element, index) => {
                                if(${i} == index){
                                    myAccShowDiv(element)
                                }
                            })
                        })`);
                    }
                })
            }
            showHideMyAccFeats();

            function widthForMyAccHoriNavFunc() {
                let widthForMyAccHoriNav = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                let myAccDetailsDiv = document.getElementById('details');
                let myAccHoriNavMainDiv = document.getElementById('myAccHoriNavMainDiv');
                let myAccVertiNavMainDiv = document.getElementById('myAccVertiNavMainDiv');
                if (widthForMyAccHoriNav <= 600) {
                    if (myAccHoriNavMainDiv) {
                        myAccDetailsDiv.classList.remove('grid')
                        myAccDetailsDiv.classList.remove('grid-cols-4')
                        myAccVertiNavMainDiv.style.display = 'none';
                        myAccVertiNavMainDiv.innerHTML = '';
                        myAccHoriNavMainDiv.innerHTML = `<div id="myAcc-hori-left" class="my-2">
                                                            <a href="/myAccount" id="myAcc-hori-left-profImg">
                                                                <% if(user.image.length> 0) { %>
                                                                    <img id="profImage" class="w-8 h-8 rounded-full inline-block"
                                                                        src="/uploadedImages/<%= user.image[0].img %>" onerror="userImgNotFoundForMyAcc(this)"
                                                                        alt="<%= user.first_namr %> Image" style="box-shadow: 0px 1px 7px 0px #c7c7c7;">
                                                                    <% }else{ %>
                                                                        <span class="flex items-center">
                                                                            <% if (user.gender=="Male" ) { %>
                                                                                <img id="smlIMG" class="w-8 h-8 rounded-full inline-block" src="/img/male.jpg"
                                                                                    alt="<%= user.first_namr %> Image"
                                                                                    style="box-shadow: 0px 1px 7px 0px #c7c7c7;">
                                                                                <% }else{ %>
                                                                                    <img id="smlIMG" class="w-8 h-8 rounded-full inline-block"
                                                                                        src="/img/female.jpg" alt="<%= user.first_namr %> Image"
                                                                                        style="box-shadow: 0px 1px 7px 0px #c7c7c7;">
                                                                                    <% } %>
                                                                        </span>
                                                                        <% } %>
                                                            </a>
                                                            <a href="/cust/myOrders" id="myAcc-hori-left-myOrds">My Orders</a>
                                                            <div id="acc-settings" class="dropdown">
                                                                <button class="dropbtn">Account Setting</button>
                                                                <div class="dropdown-content acc-settings-dropdown">
                                                                    <a href="#" class="myAccDiffSet" id="changePP">Profile Picture</a>
                                                                    <a href="#" class="myAccDiffSet" id="changePI">Profile information</a>
                                                                    <a href="#" class="myAccDiffSet" id="changeAdd">Manage Addresses</a>
                                                                </div>
                                                            </div>
                                                            <div id="my-stuff" class="dropdown">
                                                                <button class="dropbtn">My Stuff</button>
                                                                <div class="dropdown-content my-stuff-dropdown">
                                                                    <a href="#">My Coupons</a>
                                                                    <a href="#">My Reviews & Ratings</a>
                                                                    <a href="#">All Notifications</a>
                                                                    <a href="#">My Wishlist</a>
                                                                </div>
                                                            </div>
                                                            <i id="myAcc-hori-left-logout" class="fas fa-power-off" onclick="window.location.href='/logout'"></i>
                                                        </div>`;
                    }
                } else {
                    if (myAccHoriNavMainDiv) {
                        myAccDetailsDiv.classList.add('grid')
                        myAccDetailsDiv.classList.add('grid-cols-4')
                        myAccVertiNavMainDiv.style.display = 'grid';
                        myAccHoriNavMainDiv.innerHTML = '';
                        myAccVertiNavMainDiv.innerHTML = `<div id="myAccProfPicAndNameAndEdit"
                            class="h-20 bg-white inline-block rounded p-2 mb-0 flex flex-row">
                            <div id="myAccProfPicAndName" class="flex flex-row">
                                <% if(user.image.length> 0) { %>
                                    <img id="profImage" class="w-16 h-16 rounded-full inline-block"
                                        src="/uploadedImages/<%= user.image[0].img %>"
                                        onerror="userImgNotFoundForMyAcc(this)" alt="<%= user.first_namr %> Image"
                                        style="box-shadow: 0px 1px 7px 0px #c7c7c7;">
                                    <% }else{ %>
                                        <span class="flex items-center">
                                            <% if (user.gender=="Male" ) { %>
                                                <img id="smlIMG" class="w-16 h-16 rounded-full inline-block"
                                                    src="/img/male.jpg" alt="<%= user.first_namr %> Image"
                                                    style="box-shadow: 0px 1px 7px 0px #c7c7c7;">
                                                <% }else{ %>
                                                    <img id="smlIMG" class="w-16 h-16 rounded-full inline-block"
                                                        src="/img/female.jpg" alt="<%= user.first_namr %> Image"
                                                        style="box-shadow: 0px 1px 7px 0px #c7c7c7;">
                                                    <% } %>
                                        </span>
                                        <% } %>

                                            <div class="inline-block ml-4">
                                                <span class="text-sm">Hello,</span>
                                                <br>
                                                <span class="font-medium">
                                                    <%= user.first_name %>
                                                </span>
                                            </div>
                            </div>
                            <div class="m-auto cursor-pointer">
                                <span class="text-sm" id="changePP"><i class="fa-solid fa-pen-to-square"></i></span>
                            </div>
                        </div>
                        <div id="myAcc-myOrdMainDiv" class="h-12 bg-white inline-block rounded p-2 mt-2">
                            <div class="myAccLeftHeadAndInfo ml-5">
                                <div class="head">
                                    <i class="fas fa-folder"></i>
                                    <span id="myacc-order" class="text-gray-400 text-2xl font-bold ml-5 ">My
                                        Orders</span>
                                </div>
                            </div>
                        </div>
                        <div class="h-84 bg-white inline-block rounded p-2 mt-2">
                            <div class="myAccLeftHeadAndInfo ml-5">
                                <div class="head">
                                    <i class="fas fa-user"></i>
                                    <span id="myacc-accSet" class="text-gray-400 text-2xl font-bold ml-5">Account
                                        Settings</span>
                                </div>
                                <div class="ml-8 mt-2 leading-loose">
                                    <a href="#" class="myAccDiffSet" id="changePI">Profile information</a>
                                    <a href="#" class="myAccDiffSet" id="changeAdd">Manage Addresses</a>
                                </div>
                            </div>
                            <hr>
                            <div class="myAccLeftHeadAndInfo mt-4 ml-5">
                                <div class="head">
                                    <i class="fas fa-id-card"></i>
                                    <span id="myacc-myStuff" class="text-gray-400 text-2xl font-bold ml-5">My
                                        Stuff</span>
                                </div>
                                <div class="ml-8 mt-2 leading-loose">
                                    <a href="#" class="myAccDiffSet">My Coupons</a>
                                    <a href="#" class="myAccDiffSet">My Reviews & Ratings</a>
                                    <a href="#" class="myAccDiffSet">All Notifications</a>
                                    <a href="#" class="myAccDiffSet">My Wishlist</a>
                                </div>
                            </div>
                        </div>
                        <div class="h-20 bg-white inline-block rounded p-2 mt-2">
                            <div class="myAccLeftHeadAndInfo mt-3 ml-5">
                                <div class="head">
                                    <i class="fas fa-power-off" onclick="window.location.href='/logout'"></i>
                                    <span id="myacc-logout" class="text-gray-400 text-2xl font-bold ml-5"
                                        onclick="window.location.href='/logout'">Logout</span>
                                </div>
                            </div>
                        </div>`;
                    }
                }

                showHideMyAccFeats();
            }

            window.onload = widthForMyAccHoriNavFunc;
            window.onresize = widthForMyAccHoriNavFunc;
        </script>